<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="SQLDEVConnect" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APEXEDI-DEV\APEXEDIDEV;initial catalog=ClaimStakerDEV;persist security info=True;user id=dariantest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DevConnect" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APEXEDI-DEV\APEXEDIDEV;initial catalog=ClaimStakerDEV;persist security info=True;user id=dariantest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SQLDEVConnection" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APEXEDI-DEV\APEXEDIDEV;persist security info=True;user id=dariantest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LogConnectionEntity" connectionString="metadata=res://*/Datamodel.csdl|res://*/Datamodel.ssdl|res://*/Datamodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APEXEDI-DEV\APEXEDIDEV;persist security info=True;user id=dariantest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
