<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StatementsTesting.Properties.Settings.ClaimStakerDEVConnectionString"
            connectionString="Data Source=APEXEDI-DEV\APEXEDIDEV;Initial Catalog=ClaimStakerDEV;Persist Security Info=True;User ID=dariantest;Password=23INTp23???"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>