<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ClaimStakerEntities" connectionString="metadata=res://*/VerificationEntityModel.csdl|res://*/VerificationEntityModel.ssdl|res://*/VerificationEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APEXSQL;initial catalog=ClaimStaker;persist security info=True;user id=QAUser;password=eclaims1!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DataVerification.Properties.Settings.ClaimStakerConnectionString"
      connectionString="Data Source=APEXSQL;Initial Catalog=ClaimStaker;Persist Security Info=True;User ID=QAUser;Password=eclaims1!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
